/*@import 'normlize';*/
/*@import 'fonts';*/
.events {
  position: relative;
  max-width: 708px;
  height: 464px;
  overflow: hidden; }
  .events__wrapper {
    position: absolute;
    z-index: 1; }
  .events__scroller {
    display: inline-flex;
    flex-wrap: wrap;
    height: auto; }
  .events__item {
    flex: none;
    margin: 10px;
    user-select: none; }

.event {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 6px 20px 6px 15px;
  width: 216px;
  height: 96px;
  background: #d1d3d4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s; }
  .event:hover {
    box-shadow: none; }
  .event__controls {
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .event__control-btn {
    display: block;
    color: #fff;
    text-decoration: none; }
  .event__title {
    width: 100%;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-size: 12px; }
  .event__pic {
    background: #fff;
    padding: 2px;
    width: 57px;
    height: 57px;
    margin-right: 17px; }
  .event__body {
    flex: 1;
    font-size: 12px; }
  .event__actions {
    display: flex;
    margin: 3px 0 0;
    padding: 0;
    list-style-type: none; }
  .event__action-item {
    margin-right: 14px; }
  .event__action-link {
    display: block;
    text-decoration: none;
    color: #fff; }

/*@import 'components/_artists';
@import 'components/_tabs';

@import 'components/_bottom';
@import 'components/messenger/_dialogs';*/

