/*@import 'normlize';*/
/*@import 'fonts';
@import 'components/events';
@import 'components/event';
@import 'components/_artists';*/
.tabs__item, .tabs__controls {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.tabs__item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(105%);
  transition: all 0.4s; }
  @media screen and (max-width: 960px) {
    .tabs__item {
      position: relative;
      display: none;
      transform: translateX(0); } }
  .tabs__item--active {
    transform: translateX(0);
    transition-delay: 0.4s; }
    @media screen and (max-width: 960px) {
      .tabs__item--active {
        display: flex; } }

.tabs__controls {
  display: flex;
  flex-wrap: wrap; }

.tabs__controls-item {
  height: 57px;
  width: 33.33%;
  padding: 2px; }

.tabs__controls-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s; }
  .tabs__controls-item:nth-child(1) .tabs__controls-link {
    background: #d4d4ca; }
    .tabs__controls-item:nth-child(1) .tabs__controls-link:hover {
      background: #a6a692; }
  .tabs__controls-item:nth-child(2) .tabs__controls-link {
    background: #eed5c2; }
    .tabs__controls-item:nth-child(2) .tabs__controls-link:hover {
      background: #d89e72; }
  .tabs__controls-item:nth-child(3) .tabs__controls-link {
    background: #d3dfe3; }
    .tabs__controls-item:nth-child(3) .tabs__controls-link:hover {
      background: #95b2bb; }
  .tabs__controls-item:nth-child(4) .tabs__controls-link {
    background: #d6d4d5; }
    .tabs__controls-item:nth-child(4) .tabs__controls-link:hover {
      background: #a4a0a2; }
  .tabs__controls-item:nth-child(5) .tabs__controls-link {
    background: #b7b4b4; }
    .tabs__controls-item:nth-child(5) .tabs__controls-link:hover {
      background: #858080; }
  .tabs__controls-item:nth-child(6) .tabs__controls-link {
    background: #f0ecd1; }
    .tabs__controls-item:nth-child(6) .tabs__controls-link:hover {
      background: #d7cc84; }

.tabs__controls-link-text {
  opacity: 0;
  transition: opacity 0.2s;
  text-transform: uppercase;
  font-size: 14px; }
  @media screen and (max-width: 705px) {
    .tabs__controls-link-text {
      opacity: 1; } }
  .tabs__controls-link:hover .tabs__controls-link-text {
    opacity: 1; }

/*@import 'components/_bottom';

@import 'components/messenger/_dialogs';*/

