<div class="">
    <ul class="account__controls">
        <li class="account__control-item">
            <a href="" class="account__control-btn account__control-btn--underscore" ng-click="cancel()"></a>
        </li>
        <li class="account__control-item">
            <a href="" class="account__control-btn account__control-btn--clone"></a>
        </li>
        <li class="account__control-item">
            <a href="" class="account__control-btn account__control-btn--close popup__close" ng-click="cancel()"></a>
        </li>
    </ul>
</div>
<div class="account__main_wpteam">

    <!-- begin In network search -->
    <div class="account__search search">
        <input type="search" class="search__field" >
        <span class="search__icon-search"><i class="fa fa-search"></i></span>
    </div>
    <!--end In network search -->

    
        
</div>

<div class="account__side_wpteam account__side_wpteam--right">
    <!-- begin out of network search -->
    <div class="account__search search">
        <input type="search" class="search__field_rightside"
             
               placeholder="Search Tracks"
               >
        <span class="search__icon-search"><i class="fa fa-search"></i></span>
    </div>
    <!-- end out of network search -->
    <div class="account__frames account__frames_wpteam--side">
 
        
     
    </div>
</div>



